@page "/"

@using Data;

@* 의존성 주입 방식 *@
@inject IFoodService foodService;
@inject PaymentService paymentService

@inject SingletonService singleton;
@inject TransientService transient;
@inject ScopedService scoped;

<PageTitle>Home</PageTitle>

<div>
	@foreach (var food in foodService.GetFoods())
	{
		<div>@food.Name</div>
		<div>@food.Price</div>
	}
</div>

<div>
	<h1>Singleton</h1>
	Guid : @singleton.ID
	<h1>Transient</h1>
	Guid : @transient.ID
	<h1>Scoped</h1>
	Guid : @scoped.ID
</div>

@code {
	// 데이터를 불러오는 기초적인 방법
	// >> 의존성이 너무 강해지는 문제가 있음
	// FoodService foodService = new FoodService();

	// 인터페이스 방식
	// >> 의존성은 개선되나 생성자 사용의 문제점이 있음
	// IFoodService foodService = new FoodService();
	// IFoodService foodService = new FastFoodService();

	protected override void OnInitialized()
	{

	}

}